**/node_modules
dist/main.js
src/imgs/*
dist/img/*
zips/*

dist.zip
dist/bundle.js

dist/bundle.js
dist/traveler.html
dist/fonts/fontawesome-webfont.eot
dist/fonts/fontawesome-webfont.ttf
dist/fonts/fontawesome-webfont.woff
dist/fonts/fontawesome-webfont.woff2
